body, textarea, input {
	font-size: 12px;
	font-family: "Source Code Pro", monospace;
}

body {
	background: #191A16;
	color: #F0F0F0;

	margin: 0;
	padding: 0;
	width: 100%;
	height:100%;
	position: absolute;
	top: 0;
	bottom: 0;
	display: flex;
	flex-direction: column;

	overflow:hidden;
}

/* ace-editor requires to define styles by id (specificity) */
.editor#editor {
	/** /
	width: 80%;
	left: 20%;
	/**/
	width: 100%;
	/**/

	position: relative;
	flex: 1 1 auto;
}

.console-wrapper {
	flex: 1 1 auto;
	display: flex;
}

.footer-wrapper {
	flex: 0 1 auto;
}

a {
	color: #88f;
}

.expand {
	display: block;
	margin-bottom: 5px;
}

.output, .input {
}

.output-wrapper, .input-wrapper {
	flex: 1 1 50%;
	position: relative;
}

.output {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: auto;
	padding: 0 5px;

	font-size: 18px;

	white-space: pre-wrap;	   /* CSS 3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;	  /* Opera 4-6 */
	white-space: -o-pre-wrap;	/* Opera 7 */
	word-wrap: break-word;	   /* Internet Explorer 5.5+ */
}

.output h1 {
	margin: .5em 0 0 0;
}

.output p, .output pre {
	margin: .5em 0;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

.input-wrapper {
	border-right: 4px solid #686860;
}

.input-wrapper form {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
}

.input {
	flex: 1 1 auto;
	display: flex;
}

.statusbar {
	padding: 3px 5px;
	background: #686860;
	text-shadow: 0 -1px 1px black;
	height: 20px;
	line-height: 20px;
	position:relative;
	color:white;
}

.statusbar .runtime-info {
	text-align: right;
	float: right;
	clear: right;
	/*width: 350px;*/
	padding-right: 90px;
}

input[type=submit] {
	position: absolute;
	right: 0;
	height: 26px;
	margin: 0;
	top:0;
	width: 80px;
}


.output img.loader {
	display:none;/*it's ugly*/
}

.help {
	width: 33%;
	float: left;
	white-space: pre;
}

.footer {
	width: 100%;
	clear: left;
	text-align: center;
	color: #aaa;
}
.footer a {
	color: #aaa;
}

.control-char {
	background: #000;
	color: #fff;
	margin-left: 2px;
	margin-right: 2px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 1px 2px;
}
